<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyChOCKwYB5A_kpL-ImCfhDTbFxO0HHXByY</string>
	<key>GCM_SENDER_ID</key>
	<string>797798624558</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>code.Saurabh.MyFaceTime</string>
	<key>PROJECT_ID</key>
	<string>myfacetime-131a5</string>
	<key>STORAGE_BUCKET</key>
	<string>myfacetime-131a5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:797798624558:ios:728f6fa2088b2ae2fd5ebf</string>
</dict>
</plist>